<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="H.W.">
  <meta name="description" content="Portal to display all departments in the collection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>CopJob</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Kalam:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="databaseGrid.css">
</head>

<body>

  <header>
    <div class="wrapper">
      <h1><a href="/">CopJob</a></h1>
      <nav>
        <ul>
          <li><a href="/index">Database</a></li>
          <li><a href="/portal">Create</a></li>
        </ul>
      </nav>  
    </div>
  </header>

  <!-- Change views via .list flex-direction as option -->
  <main>
    <aside class="warningConfirm"></aside>
    <section class="listWrapper">
      <ul class="list"></ul>
    </section>
    <section class="updateWrapper">
      <form action="#" class="js-form" id="js-form">
        <fieldset>
          <legend>Enter Department information</legend>

          <!-- must use ID in 'for' for label association to work. -->
          <label for='position'>What position is being sought?</label>
          <input id="position" type="text" name="position" placeholder="e.g. Officer, Sergeant...">

          <label for='name'>Department name</label>
          <input id="name" type='text' name='name' placeholder='New York City Police Department'>

          <label for='link'>Website</label>
          <input id='link' type='text' name='website' placeholder=''>

          <label for='state'>In which state is the department? (abbreviation)</label>
          <input id='state' type='text' name='state' list='states'>
          <datalist id="states">
            <option value="AK">
            <option value="AL">
            <option value="AZ">
            <option value="AR">
            <option value="CA">
            <option value="CO">
            <option value="CT">
            <option value="DE">
            <option value="FL">
            <option value="GA">
            <option value="HI">
            <option value="ID">
            <option value="IL">
            <option value="IN">
            <option value="IA">
            <option value="KS">
            <option value="KY">
            <option value="LA">
            <option value="ME">
            <option value="MD">
            <option value="MA">
            <option value="MI">
            <option value="MN">
            <option value="MS">
            <option value="MO">
            <option value="MT">
            <option value="NE">
            <option value="NV">
            <option value="NH">
            <option value="NJ">
            <option value="NM">
            <option value="NY">
            <option value="NC">
            <option value="ND">
            <option value="OH">
            <option value="OK">
            <option value="OR">
            <option value="PA">
            <option value="RI">
            <option value="SC">
            <option value="SD">
            <option value="TN">
            <option value="TX">
            <option value="UT">
            <option value="VT">
            <option value="VA">
            <option value="WA">
            <option value="WV">
            <option value="WI">
            <option value="WY">
          </datalist>

          <label for='age'>Minimum required age</label>
          <input id='age' type='number' name='age' placeholder='e.g. 18, 21'>

          <label>Required citizenship?</label>
          <div class="citizen">
            <input id='citizen-yes' type='radio' name='citizenship' class="citizen-checkbox-yes">
            <label for="citizen-yes">Yes</label>
            <input id='citizen-no' type='radio' name='citizenship' class="citizen-checkbox-no">
            <label for="citizen-no">No</label>
          </div>

          <label>Required degree:</label>
          <div class="degree">
            <input id='highschool' type="radio" name="degree">
            <label for="highschool">High School</label>
            <input id="associate" type="radio" name="degree">
            <label for="associate">Associates (2-year)</label>
            <input id="bachelor" type="radio" name="degree">
            <label for="bachelor">Bachelor (4-year)</label>
            <input id="masters" type="radio" name="degree">
            <label for="masters">Masters</label>
            <input id="doctorate" type="radio" name="degree">
            <label for="doctorate">Doctorate</label>
          </div>

          <label for="salary">Salary (Minimum starting point)</label>
          <div class="salary">
            <span>$</span><input id="salary" type="text" name="salary">
          </div>

          <label for="description">Description of Position</label>
          <textarea id="description" form="js-form"></textarea>

          <div class="controls">
            <button class="js-form-submit" value="js-form">Submit</button>
            <button class="js-form-reset">Reset</button>
          </div>
          <div class="success"></div>
          <div class="warningDiv"></div>
        </fieldset>
      </form>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="validateInput.js"></script>
	<script src="index.js"></script>
</body>
</html>