<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="H.W.">
	<meta name="description" content="Portal to perform department CRUD operations">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>CopJob Portal</title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>

	<h1>Hello Portal</h1>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="../public/portal.js"></script>
</body>
</html>