<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="H.W.">
  <meta name="description" content="Find jobs in law enforcement throughout the United States.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>CopJob</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Kalam:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="public.css">
  <title>CopJob</title>
</head>

<body>

  <header>
  	<section class="wrapper">
		  <h1><a href="/">CopJob</a></h1>
  	</section>
  </header>

  <main>

  	<section class="topDiv">
  		<i class="far fa-arrow-alt-circle-left fa-2x"></i>
  	</section>

  	<section class="welcome">
		  <h1>Get a job.</h1>
		  <h2>Be a cop.</h2>
  	</section>

  	<section class="jobSelector">
			<span class="allSpan">
				<span>Browse all opportunities</span> 
				<i class="far fa-arrow-alt-circle-right fa-2x"></i></span>
			<span>or select parameters below</span>
  	</section>

  	<section class="allJobsSection">
  		<ul class="listItems"></ul>
  	</section>
  	
  	<section class="stateSelector">
      <!-- <form> -->
        <!-- <fieldset> -->
          <input type="text" name="search-keywords" id="js-search-keywords" placeholder="Search for department name, state, or position">
          <select name="search-category" id="search-category">
            <option>Name</option>
            <option>State</option>
            <option>Position</option>
          </select>
          <input type="button" id="js-submit-search" value="Search">
          <!-- <button id="js-submit-search">Search</button> -->
      
        <!-- </fieldset> -->
      <!-- </form> -->
    </section>
  	
  </main>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="public.js"></script>
</body>

</html>