<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="H.W.">
  <meta name="description" content="Portal to display all departments in the collection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>CopJob</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Kalam:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="signup.css">
</head>

<body>

  <header>
    <div class="navWrapper">
      <span class="logoWrapper">
    <img src="logohat.png">
    <h1>
      <a href="/">Cop
        <span>Job</span>
      </a>
      </h1>
      </span>
    </div>
  </header>

  <form action="/signup" method="post">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="js-form-submit">Signup</button>
  </form>

</body>

</html>