body {
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
}

main {
	display: flex;
	justify-content: center;
}

form {
	min-width: 440px;
	width: 60%;
}

fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

legend {
	background-color: #000;
  color: #fff;
  margin-bottom: 2em;
  padding: 3px 6px;
}

label {
	font-weight: 700;
	line-height: 1em;
	margin-bottom: .5em;
}

input {
	line-height: 1.5em;
}

input[type="text"] {
	margin-bottom: 1em;
	width: 50%;
}

input[type="radio"], input[type="number"] {
	margin-bottom: 1em;
}

textarea {
	max-width: 600px;
	height: 100px;
	width: 50vw;
}

span {
	margin-right: .15em;
	vertical-align: middle;
}

.checkbox label, .degree label {
	font-weight: 400;
	margin-right: 1em;
}

.controls {
	display: flex;
	justify-content: center;
}

.js-form-submit {
	background: #007bff;
  border: 1px solid transparent;
  border-radius: .25rem;
	color: white;
	font-size: 1rem;
	line-height: 1.5;
	margin-right: 4em;
	padding: .375rem .75rem;
	width: 8em;
}

.js-form-reset {
  background-color: #dc3545;
  border: 1px solid transparent;
  border-radius: .25rem;
	color: #fff;
	line-height: 1.5;
	font-size: 1rem;
	padding: .375rem .75rem;
	width: 8em;
}