*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

header {
  background: black;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
}

h1 {
	color: white;
	font-family: 'Kalam', cursive;
	margin: 0;
}

input[type="text"] {
	border-radius: 6px;
	font-size: 1em;
	grid-column: 2/3;
	height: 2.5rem;
	padding: 10px 14px;

}

.topDiv {
  align-items: center;
  box-shadow: inset 0 4px 0 rgba(255,255,255,.5);
  background: #578df3;
  padding: 2em;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em 0;
  width: 80%;
}

.counter {
	color: white;
	margin-left: auto;
}

.welcome {
	text-align: center;
	width: 60%;
}

.welcomeHeaders {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 5em;
}

.welcomeHeaders > h1 {
	color: black;
	font-size: 3em;
	margin-right: .5em;
}

.welcomeHeaders > h2 {
	font-size: 3em;
	padding-top: .06em; 
	margin: 0 0 0 0;
}

.infoText {
	font-size: 1.5em;
	margin: 2em 0 .5em 0;
}

.opportunities {
	align-items: center;
	display: flex;
	justify-content: center;
}

.opportunities:hover {
	color: #578df3;;
	text-decoration-color: #578df3;
}

.opportunities > span {
	font-size: 1.5em;
}

.opportunities span:hover {
	text-decoration: underline;
}

.opportunities > i {
	margin-left: .25em;
}

.allJobsSection {
	display: none;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.listItems {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 80%;
}

.listItem {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 1fr 40px auto 1fr;
	margin-bottom: 1em;
}

.listItem > span {
	display: flex;
	align-items: center;
	padding: .25em .5em;
}

.listItem {
	background: rgba(255,255,255,1);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	grid-column: 1/6;
	grid-row: 2/6;
}

.name {
	font-weight: bold;
	grid-column: 1/6;
	grid-row: 1/2;
}

.name:first-child {
	/*background: #578df3;*/
	background: #f3f3f3;
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.position {
	grid-column: 1/3;
	grid-row: 2/3;
}

.state {
	grid-column: 3/5;
	grid-row: 2/3;
}

.link {
	grid-column: 1/6;
	grid-row: 3/4;
}

.link > a {
	margin-left: .5em;
	word-break: break-all;
}

.salary {
	grid-column: 5/6;
	grid-row: 2/3;
}

.description {
	grid-column: 1/2;
	grid-row: 4/5;
}

.descriptionText {
	font-style: italic;
	grid-column: 1/6;
	grid-row: 5/6;
}



/* iPhone 6+, 6s+, 7+, 8+ portrait*/
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.infoText {
		margin-top: 2em;
	}
}

/* iPhone 2G, 3G, 4, 4S Portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	input[type="text"] {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	img {
		height: 100px;
		width: auto;
	}

	.welcome {
		width: 100%;
	}

	.welcomeHeaders {
		display: block;
		padding-top: .75em;
	}

	.welcomeHeaders > h2 {
		padding-top: 0;
	}

	.infoText {
		margin: 1em 0;
	}

	.topDiv {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding: .75em 1em 0 1em;
		width: 100%;
	}

	.listItems {
		width: 90%;
	}

	.counter {
		color: white;
		grid-column: 1/2;
		grid-row: 2/3;
		margin: auto;
	}
}

/* iPhone 2G, 3G, 4, 4S Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	input[type="text"] {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	img {
		height: 115px;
		width: auto;
	}

	.welcome {
		width: 100%;
	}

	.welcomeHeaders {
		display: block;
		padding-top: .75em;
	}

	.welcomeHeaders > h1 {
		margin: 0;
	}

	.infoText {
		margin-top: 1em;
	}

	.topDiv {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding: .75em 1em 0 1em;
		width: 100%;
	}

	.counter {
		color: white;
		grid-column: 1/2;
		grid-row: 2/3;
		margin: auto;
	}

	.listItems {
		width: 90%;
	}
}

/* iPhone 5 Landscape */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	img {
		height: 125px;
		width: auto;
	}

	input[type="text"] {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.welcome {
		width: 100%;
	}

	.welcomeHeaders {
		display: block;
		padding-top: .75em;
	}

	.topDiv {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding: .75em 1em 0 1em;
		width: 100%;
	}

	.listItems {
		width: 90%;
	}
}

/* iPhone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.infoText {
		padding: 0 .5em;
	}
}

/* iPhone 6, 6s, 7, 8 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.infoText {
		margin-top: 1em;
		padding: 0 .5em;
	}

	.topDiv {
		width: 90%;
	}
}


