*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

header {
  background: black;
  display: flex;
  height: 60px;
  justify-content: center;
}

header > section {
	align-items: center;
	display: flex;
	width: 50%;
}

header > section > h1 > a {
	color: white;
	text-decoration: none;
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
}

h1 {
	color: white;
	font-family: 'Kalam', cursive;
	font-size: 2em;
	margin: 0;
}

form {
  width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="text"] {
	border: 0;
	border-radius: 6px;
	flex-grow: 2;
	font-size: 1em;
	height: 2.5rem;
	margin: 0 .5em 0 1.5em;
	padding: 10px 14px;
}

select {
	border: 0;
	border-radius: 6px;
	flex-grow: 1;
	font-size: 1em;
	height: 2.5rem;
	margin: 0 .5em;
	padding: 10px 14px;
}

input[type="button"] {
	background: white;
	border: 0;
	border-radius: 6px;
	flex-grow: 1;
	height: 2.5rem;
	margin: 0 1.5em 0 .5em;
	padding: 10px 14px;
}

.topDiv {
	align-items: center;
	display: none;
	justify-content: space-between;
	margin: 1em 0;
	width: 80%;
}

.welcome {
	margin-bottom: 4em;
	width: 60%;
}

.welcome > h1 {
	color: black;
	font-size: 3em;
	margin: 12% 0 0 35%;
}

.welcome > h2 {
	font-size: 2em;
	margin-left: 45%;
}

.jobSelector {
	display: flex;
	flex-direction: column;
	margin-bottom: 8em;
}

.jobSelector > span {
	font-size: 1.25em;
}

.allSpan {
	align-items: center;
	display: flex;
	margin-bottom: .5em;
}

.allSpan:hover {
	color: #578df3;;
	text-decoration-color: #578df3;
}

.allSpan span:hover {
	
	text-decoration: underline;
}

.allSpan > i {
	margin-left: .25em;
}

.allJobsSection {
	display: none;
}

.listItems {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.listItem {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	margin-bottom: 1em;
}

.listItem > span {
	padding: .25em .5em;
}

.listItem {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	grid-column: 1/6;
	grid-row: 2/6;
}

.name {
	grid-column: 1/6;
	grid-row: 1/2;
}

.name:first-child {
	background: #578df3;
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.position {
	grid-column: 1/2;
	grid-row: 2/3;
}

.state {
	grid-column: 3/4;
	grid-row: 2/3;
}

.link {
	grid-column: 1/4;
	grid-row: 3/4;
}

.salary {
	grid-column: 5/6;
	grid-row: 2/3;
}

.description {
	grid-column: 1/2;
	grid-row: 4/5;
}

.descriptionText {
	font-style: italic;
	grid-column: 1/6;
	grid-row: 5/6;
	text-decoration: 
}

.stateSelector {
	background: #578df3;
  align-items: center;
  box-shadow: inset 0 4px 0 rgba(255,255,255,.5);
  display: flex;
  height: 100px;
  width: 60%;
}

.wrapper {
  display: flex;
}

